.nav {
  background-color: red;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

:global(.test) {
  background-color: orange;
}

.nav :global(.active) {
  background-color: green;
}
